/* global */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    background-color: black;
    color: white;

    /* image */
    background: url("img/wolves.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a{
    color: red;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 16px;
    font-weight: bolder;
}

.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color:yellowgreen;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-description *{
    margin-block: 0;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: seagreen;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-divider{
    display: none;
}

/* For mobile devices */
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-stats{
        font-size: 12px;
    }

    .subforum-divider{
        display: block;
        border: 0;
        height: 1px;
    }
}

/* For tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 16px;
    }

    h1{
        font-size: 18px;
    }
}

/* Navbar */
header{
    margin-inline: 10px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navigation{
    background-color: teal;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.nav-item a:hover{
    background-color: black;
}

.close-icon i{
    font-size: 60px;
    float: left;
    cursor: pointer;
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

@font-face{
    font-family: lonewolf;
    src:url("/fonts/LoneWolf.ttf");
}

.brand{
    font-size: 60px;
    display: inline-block;
    font-family: lonewolf;
}

/* Navbar for mobile devices */
@media screen and (max-width: 460px){
    .navigation{
        max-height: auto;
    }

    .nav-item a{
        float: left;
        display: inline;
        text-align: center;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }

    .close-icon i{
        font-size: 30px;
    }

    .brand{
        font-size: 20px;
    }
}

/* Search Box */
.search-box{
    border: solid 1px purple;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px rebeccapurple;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color: white;
    color: black;
}

.search-box button:hover{
    background-color: black;
    color: white;
    box-shadow: 1px 2px 3px white;
}

/* Search for mobile devices */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }
}

/* Forum Info */
.forum-info{
    padding: 20px;
    background-color: rgb(64, 138, 4);
}

.chart{
    font-size: 20px;
    font-weight: bold;
}

/* Footer */
footer{
    margin-top: 20px;
    padding: 20px;
    background-color: darkmagenta;
    display: block;
    text-align: center;
}

/*###################################*/
/* Posts page */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: gray;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* Table body */
.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: darkslategray;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* Pagination */
.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: white;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px white;
}

.pagination a:hover{
    opacity: 0.5;
}

/* Navigation */
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: white;
}

.navigate a:hover{
    color: red;
    font-weight: bolder;
}

/* Note */
.note{
    background-color: black;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}

/*###################################*/
/* Post's details page */
.head{
    display: flex;
    background-color: gray;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: black;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border: none;
    padding: 10px;
    font-weight: bolder;
    box-shadow: 4px 6px white;
    cursor: pointer;
    float: right;
}

/* Comment area */
.comment-area{
    margin-top: 50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px black;
}

.comments-container{
    margin-top: 50px;
}