/* global */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    background-color: black;
    color: white;

    /* image */
    background: url("img/wolves.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a{
    color: red;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 16px;
    font-weight: bolder;
}

.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color:yellowgreen;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-description *{
    margin-block: 0;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: seagreen;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-divider{
    display: none;
}

/* For mobile devices */
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-stats{
        font-size: 12px;
    }

    .subforum-divider{
        display: block;
        border: 0;
        height: 1px;
    }
}

/* For tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 16px;
    }

    h1{
        font-size: 18px;
    }
}

/* Navbar */
header{
    margin-inline: 10px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navigation{
    background-color: teal;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.nav-item a:hover{
    background-color: black;
}

.close-icon i{
    font-size: 60px;
    float: left;
    cursor: pointer;
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

@font-face{
    font-family: lonewolf;
    src:url("/fonts/LoneWolf.ttf");
}

.brand{
    font-size: 60px;
    display: inline-block;
    font-family: lonewolf;
}